@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	/* background-image: url('../img/photo.avif'); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
}
video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
nav {
	background-color: #FFEFD5;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px 0 50px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform .5s ease;
	border-radius: 5px;
}
nav.active {
	transform: translateX(0);
}
nav ul {
	padding: 0;
	list-style-type: none;
}
nav ul li {
	margin: 14px 0;
	text-align: right;
}
nav a {
	color: #111;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
nav a:hover {
	color: #fff;
	background: #111;
}
.toggle {
	border: none;
	cursor: pointer;
	font-size: 20px;
	padding: 10px 15px 10px 22px;
	position: absolute;
	top: 0;
	right: 8px;
	transform: translateX(100%);
	background: #FFEFD5;
	border-radius: 3px;
}
.toggle:focus {
	outline: none;
}
.toggle .fa-bars {
	display: block;
}
.toggle .fa-times {
	display: none;
}
nav.active .toggle .fa-bars {
	display: none;
}
nav.active .toggle .fa-times {
	display: block;
}